@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.cdnfonts.com/css/minion-pro');

/* scrolling gently */
html { scroll-behavior: smooth; transition: all .3s; }

/* reset css */
.stylelog__container { 
    box-sizing: border-box; border: 0; margin: 0; padding: 0;
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    font-style: normal;
    max-width: 1920px;
}
.stylelog__container ul,
.stylelog__container li { list-style: none; }
.stylelog__container a,
.stylelog__container span { display: block; }
.stylelog__container main, 
.stylelog__container section, 
.stylelog__container div { position: relative; }
.stylelog__container a { text-decoration: none; cursor: pointer; color: inherit; }
.stylelog__container img { width: 100%; vertical-align: top; }
.tabs--fixed ul { list-style: none; }
.tabs--fixed a { display: block; text-decoration: none; cursor: pointer; color: inherit; }
.stylelog__container .img__box--fadeUp { position: absolute; }
.stylelog__container .btn--landing { position: absolute; }
.stylelog__container .img__box { position: absolute; }

/* stylelog contents css */
.stylelog__container .img__tit { position: absolute; top: 20.75%; left: 50%; transform: translateX(-50%); width: 36.82%; }
/* INTRO TITLE STROKE */
.stylelog__container .intro .stroke { 
    position: absolute; top: 24.16%; left: 50%; transform: translateX(-50%);
    width: 100%;
}
.text_line {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation: dash 3s linear forwards, filling 3s ease-in forwards;
}
.text_line text {
    font-family: 'Minion Pro', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12em;
}
@keyframes dash { to { stroke-dashoffset: 0; } }
@keyframes filling {
    0%,
    90% { fill: black; fill-opacity: 0; }
    100% { fill: #fff; fill-opacity: 1; }
}

/* POLAROID SWIPER */
.stylelog__container .polaroid .polarSwiper { width: 100%; position: absolute; top: 26.23%; overflow: hidden; }
.stylelog__container .polarSwiper .swiper-slide { width: 34.69%; }

/* LOOK1 */
.stylelog__container .stylelog__look1 .img__box--fadeUp { right: 0; width: 42.29%; }
.stylelog__container .stylelog__look1 .img__box--fadeUp.fir { top: 40.07%; } 
.stylelog__container .stylelog__look1 .img__box--fadeUp.sec { top: 79.19%; } 
.stylelog__container .stylelog__look1 .btn--landing { top: 86.07%; left: 10.42%; width: 27.40%; }

/* LOOK2 */
.stylelog__container .stylelog__look2 .img__box--fadeUp.fir { width: 33.91%; top: 41.95%; right: 14.95%; } 
.stylelog__container .stylelog__look2 .img__box--fadeUp.sec { width: 28.33%; top: 69.74%; right: 2.76%; } 
.stylelog__container .stylelog__look2 .btn--landing { width: 39.79%; top: 84.63%; left: 10.63%; }

/* LOOK3 */
.stylelog__container .stylelog__look3 .look3Swiper { position: absolute; top: 54.89%; width: 100%; overflow: hidden; }
.stylelog__container .stylelog__look3 .look3Swiper .swiper-slide { width: 28.54%; }
.stylelog__container .stylelog__look3 .look3Swiper .swiper-next,
.stylelog__container .stylelog__look3 .look3Swiper .swiper-prev { width: 4.01%; position: absolute; top: 50.49%; z-index: 99; cursor: pointer; }
.stylelog__container .stylelog__look3 .look3Swiper .swiper-next { right: 6.46%; transform: rotate(180deg); }
.stylelog__container .stylelog__look3 .look3Swiper .swiper-prev { left: 6.46%; }

/* LOOK4 */
.stylelog__container .stylelog__look4 .look4Swiper { 
    position: absolute; top: 43.26%; left: 6.51%; 
    max-width: 32.34%; height: 56.79%; 
}
.stylelog__container .stylelog__look4 .look4Swiper .verticalSwiper { width: 100%; height: 100%; }
.stylelog__container .stylelog__look4 .fadeSwiper { position: absolute; top: 52.64%; right: 10.00%; width: 44.84%; }
.stylelog__container .stylelog__look4 .btn--landing { width: 42.71%; top: 84.29%; right: 11.93%; }

/* LOOK5 */
.stylelog__container .stylelog__look5 .film { position: absolute; top: 50.33%; left: 6.51%; width: 38.07%; overflow: hidden; }
.stylelog__container .stylelog__look5 .filmSwiper { position: absolute; top: 0; left: 11.49%; width: 77.29%; height: 100%; }
.stylelog__container .stylelog__look5 .img__box.left { width: 44.74%; left: 0; top: 75.11%; }
.stylelog__container .stylelog__look5 .img__box.move2 { width: 23.80%; top: 83.86%; right: 29.43%; }
.stylelog__container .stylelog__look5 .img__box.move3 { width: 23.80%; top: 83.86%; right: 3.59%; }
.stylelog__container .stylelog__look5 .btn--landing { width: 39.79%; top: 74.29%; right: 10.00%; } 

/* EDIT */
.stylelog__container .edit__wrap .more { width: 22.97%; position: absolute;  top: 16.51%; left: 50%; transform: translateX(-50%);}

/* tabs--hover */
.tabs--hover {
    position: absolute !important;
    bottom: 10%; left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.tabs--hover ul {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin: 0; padding: 0; gap: 1%;
}
.tabs--hover .tab { 
    border: 1px solid #fff; color: #fff;
    border-radius: 35px; 
    padding: 1% 3.5%;
}
.tabs--hover .tab:hover,
.tabs--fixed .ftab:hover {
    background-color: #fff; color: #000;
}
/* tabs--fixed */
.tabs--fixed { 
    position: fixed; 
    bottom: 0; right: 30px; 
    z-index: 99; 
}
.tabs--fixed ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; padding: 0;
}
.tabs--fixed .ftab { 
    width: 100%; 
    border: 1px solid #fff; color: #fff;
    border-radius: 35px; 
    margin-bottom: 10px; padding: 5px 10px;
    text-align: center; 
}
.tabs--fixed .ftab.sel {
    background-color: #fff; color: #000;
}

/* 삭제X */
.proSection { 
    max-width: 900px; 
    margin: 0 auto; 
    background-color: #fff;
    overflow: hidden;
}
.proSection .product_wrap_section .list {
    font-size: 0;
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
    justify-content: start;
    gap: 1%;
    padding-left: 3%;
}
.proSection .product_wrap_section h2 {
    padding: 40px 0 30px 3%;
    font-size: 20px; font-weight: 700;
}

/* 고객센터 아이콘 안보이게 처리 */
.Launcherstyled__LauncherButtonWrapper-ch-front__sc-1kx6op4-0.ffHozL { display: none !important; visibility: hidden; }
