html{scroll-behavior: smooth;}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

div,
section,
nav,
main {
    position: relative;
}

.stylelog img {
    display: block;

}

.stylelog a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    /* border: 1px solid red; */
}

.stylelog {
    max-width: 900px;
    margin: 130px auto 0;
    overflow: hidden;
}

.intro img {width: 100%;}

/* 네브 */
.nav img { width: 100%; }
.nav ul {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.nav ul li {
    width: 20%; height: 100%;
}

.nav li a {
    width: 100%;;
    height: 100%;
}

/* 섹션 */
.sec01 img { width: 100%; }
.sec01 ul {
    position: absolute;
    display: flex;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 83.00%;
    height: 51.64%;
}

.sec01 li:nth-child(2) {
    margin: 0 28px;
}
.sec01 ul li {
    width: 100%; height: 100%;
}
.sec01 li a {
    width: 100%;
    height: 100%;
}


/* 섹션4 엠디추천 */
.sec04 img {width:100%;}
.sec04 .se04-btn-plus {
    position: absolute;
    top: 16.44%;
    left: 50%;
    transform: translateX(-50%);
    width: 10.00%;
    height: 9.42%;
    z-index: 999;
}

.sec04 .swiper {
    position: absolute;
    top: 21.05%;
    left: 50%;
    transform: translateX(-50%);
    width: 65.89%;
    height: 75.10%;
    /* overflow: visible; */
}

.sec04 .swiper-slide {
    display: flex;
}

.sec04 .swiper-button-next,
.sec04 .swiper-button-prev {
    position: absolute;
    width: 9.78%; height: 8.80%;
}

.sec04 .swiper-button-prev {
    background: url(//jstyle07.jpg3.kr/SITE/EVENT/2024/0401_all/sec4_prev.png) no-repeat;
    background-size: cover;
    left: 5.56%;
}

.sec04 .swiper-button-next {
    background: url(//jstyle07.jpg3.kr/SITE/EVENT/2024/0401_all/sec4_next.png) no-repeat;
    background-size: cover;
    right: 5.56%;
}

.sec04 .swiper-button-next::after,
.sec04 .swiper-button-prev::after {
    display: none;
}

/* 240401 추가함 (유의사항 토글) */
.arrowBox01 {
    cursor: pointer;
    display: block;
}

.arrowBox01 .arrow {
    width: 0px;
    height: 0px;
    /* border-bottom: 9px solid #fff; */
    /* border-left: 6px solid transparent; */
    /* border-right: 6px solid transparent; */
    /* transform: rotateX(-180deg); */
    /* margin-top: -2px; */
    opacity: 0; 
}

.arrowBox01 .arrow.active {
    transform: rotateX(0deg);
}

.arrowBox02 {
    overflow: hidden;
    height: 0;
    transition-duration: 0.2s;
    max-width: 900px;
    margin: 0 auto;
}

.arrowBox02.active {
    height: 100%;
}

.arrowBox02 img { width: 100%; }


/* 240329 */
.pro_icons .MK-product-icons { width: 22.61%; height: 22.50%; }

body .list_shoppingInfo {
    margin-top: 15px !important;
    padding: 0 12px 0 4px;
    text-align: left !important;
}

body .list_shoppingInfo .listPrice, .SMS_base_mask .price {
    font-weight: 700;
    margin: 5px 0 0;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

body .list_shoppingInfo .consumer, .SMS_base_mask .priceStrike {
    font-size: 11px;
    color: #aaa;
    text-decoration: line-through;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0 0;
}

body .list_shoppingInfo .subName, .SMS_base_mask .subname {
    font-size: 11px;
    color: #aaa !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin: 8px 0;
}



/* 끌어온 거*/
.thumb_wrap a {position:relative; display:block;}
.thumb_wrap a .trans {position:relative;}
.thumb_wrap a .listPic {position:absolute; top:0; left:0; width:100%; height:100%;}
/* 231206 실시간 베스트 */
    .tapWrap{
        padding: 50px 0;
        background-color: #fff7f8;
    }

    .tapWrap h2{
        width: 94%;
        margin: 0 auto 28px;
        font-size: 20px;
        font-weight: 700;
    }

    .tapWrap .swiper {
        width: 100%;
        height: 100%;
    }

    .tapWrap .listBoxSwiper{
        width: 94%;
        margin: 0 auto;
        position: relative;
    }

    .tapWrap .listBoxSwiper::after{
        content: '';
        display: block;
        position: absolute;
        width: 10%;
        height: 100%;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
       
    }
    
    .tapWrap .listBoxSwiper ol .swiper-slide { width: auto !important }

    .tapWrap .listBoxSwiper ol {
        display: flex;
        margin: 0 auto 24px;
        justify-content:center;
    }

    .tapWrap .listBoxSwiper ol li {
         font-weight: 300;
        font-size: 15px;
        color: #777;
        cursor: pointer;
        padding: 0 12px;
        background-color: #ffe2e2;
        padding: 15px 30px;
        border-radius: 40px;
    }

   

    .tapWrap .listBoxSwiper ol li.act {
        color: #111;
        font-weight: bold;
    
    }
    
    /* 240111 실시간 베스트 아우터 이벤트 추가 */
    .tapWrap .listBoxSwiper ol li:nth-child(2){
        /* color: #e95757; */
        opacity: 1;
    }
    /* 240111 실시간 베스트 아우터 이벤트 추가 끝 */

    .tapWrap .productBox{
        position: relative;
    }

    .tapWrap .productBox > div {
        opacity: 0;
        height: 0;
        pointer-events: none;
    }

    .tapWrap .productBox > div .swiper-wrapper{
        align-items: flex-start;
    }

    .tapWrap .productBox > div.act {
        display: block;
        opacity: 1;
        transition-duration: .3s;
        height: auto;
        pointer-events: auto;
    }

    .tapWrap .productBox > div .swiper{
        margin: 0 auto;
        overflow: visible;
    }

    .tapWrap .productBox > div .prod_thumb{
        max-width: 320px;
    }

    .tapWrap .productBox > div .thumb_img{
        margin: 0;
    }

    .tapWrap .productBox > div p.pro_icons img{
        display: inline-block;
        border: 1px solid #b3b3b3;
        padding: 0;
        margin-right: 3px;
    }

    .tapWrap .productBox > div .normal_item:nth-child(4n){
        margin-right: 20px !important;
    }

    .tapWrap .productBox > div .swiper-button-next, 
    .tapWrap .productBox > div .swiper-button-prev{
        color: #000;
    }

    .tapWrap .productBox .swiper-button-next{
        right: 1%;
    }

    .tapWrap .productBox .swiper-button-prev{
        right: -3%;
    }

    .tapWrap .productBox .overflowBox{
        overflow: hidden;
        max-width: 1800px;
        width: 94%;
        margin: 0 auto;
    }

/* 메인 상품 리스트 슬라이드 제거 */
.mainProductList.sec10{padding: 0; margin: 0 10px;}

.mainProductList.sec10 h3{margin: 50px 0 20px 2%;}

.mainProductList.sec10 .swiper-grid-column>.swiper-wrapper {
    flex-direction: row;
}

.mainProductList.sec10 .list_shopping3x ul{
    display: flex;
    align-items: flex-start;
    width: auto;
}

.mainProductList.sec10 .list_shopping3x ul li{
    width: 49%;
}

body .mainProductList.sec10 .list_shopping3x li{
    width: calc(50% - 2px);
}


/* 202205 위브 리뉴얼*/

body .list_shopping3x .list_shoppingInfo {padding:0 !important;}
html body .list_shopping3x li{margin-bottom:30px !important;}



h3 {position:relative}
h3 .allbtn {display:block; position:absolute; top:2.5px; right:0; padding-right:11px; font-size:12px; font-weight:400; line-height:1; background:url('/design/jstyle07/wib/img/icon/allbtn.svg') no-repeat center right; }


/* 섹션3*/
.sec3 h3{font-size:17px;font-weight:700;color:#1a1a1a;padding-left:20px;margin:60px 0 20px; line-height:1;}
html .sec3 ul{display:flex;flex-wrap:nowrap;overflow-x:scroll;margin: 0 0 0 20px !important; box-sizing: border-box;}

html .sec3 ul li{display:inline-block;width:45%;margin-right:5px;flex:0 0 auto;}
html .sec3 ul::-webkit-scrollbar {height:3px; background:#E8E8E8;}
html .sec3 ul::-webkit-scrollbar-thumb { background: #BFBFBF;}
html .sec3 ul::-webkit-scrollbar-track { height: 3px !important; }








/* 메인 슬라이드배너 영역*/
.main{overflow-x:hidden;overflow-y:hidden;}


/* 슬라이드 전체 그룹 */
.slide {position:relative;}

/* viewport */
.slide .ix-list-viewport {overflow:hidden; height: auto !important;}

/* 슬라이드 영역, Safari9, Samsung Browser ~4 버전에서 position을 넣지 않으면 randering bug가 발생할 수 있다. */
.slide .ix-list-items {position:relative; left:0; top:0; width:100%; height:100%;}
.slide .ix-list-items .ix-list-item {float:left; width:100%; /*height:100%; */padding-bottom:138%;text-align:center;position:relative;}
.slide .ix-list-items .ix-list-item a {display:block;font-size:30px; text-decoration:none; color:#fff}
.slide .ix-list-items .ix-list-item a img{width:100%;}
.slide .paging_number{position:absolute;right:15px;bottom:35px;z-index:2;color:#f1f1f1;text-align:right;} /* bottom:7px * 이미지 세로 줄이면서 위치 조정/
.slide .paging_number p{display:inline-block;letter-spacing:2px;}
    
/* 슬라이드 인디케이터, 방향 버튼 그룹 */
.slide .ix-controller.disabled {visibility:hidden;}

/* 슬라이드 인디케이터 */
.slide .ix-thumbs {position:absolute; bottom:3%; left:0;right:0; text-align:center;}
.slide .ix-thumbs .ix-thumb {display:inline-block; margin:2px;}
.slide .ix-thumbs .ix-thumb .ix-btn {display:block; width:10px; height:10px; background-color:rgba(0,0,0,.2); text-indent:-9999px; border-radius:100%;}
.slide .ix-thumbs .ix-thumb.active .ix-btn {background-color:rgba(255, 255, 255, 0.45);}

/* 슬라이드 방향 버튼 */
.slide .slide_direction .ix-btn-prev {left:10px;background:url(/design/jstyle07/wib/img/icon/ms_prev.png) no-repeat;background-size:100% 100%;}
.slide .slide_direction .ix-btn-next {right:10px;background:url(/design/jstyle07/wib/img/icon/ms_next.png) no-repeat;background-size:100% 100%;}
.slide .slide_direction .ix-btn-prev,
.slide .slide_direction .ix-btn-next {position:absolute; top:50%; width:20px; height:40px; margin-top:-10px;text-indent:-9999px;}
/* 버튼 비활성화 */
.slide .slide_direction .ix-btn-prev.disabled,
.slide .slide_direction .ix-btn-next.disabled {background:#D8E0E3; cursor:default;}    
    
/* overlayList motionType mask 필수요소 */
.ix-list-item {position:relative; overflow:hidden;}
.ix-list-item a {position:absolute; width:100%; height:100%; display:block;}




/*  공통 탭 영역  */
.tab-wrap .tab-hd{text-align:center;font-size:0;letter-spacing:0}
.tab-pagination>li,.tab-wrap .tab-hd>p{color:#727272;font-size:12px;display:inline-block;vertical-align:top;padding:10px 0;border-bottom:solid 5px #fff;line-height:1}
.tab-pagination>li.slick-active,.tab-wrap .tab-hd>p.on{color:#000;font-weight:700;border-bottom:solid 5px #46479b}

/* 스페셜 배너 영역 */
.special_ban_wrap{width:100%;}
.special_ban_wrap a{width:calc(50% - 2px);float:left;}


/*  주간베스트 탭 영역 */
.tab-wrap01{margin:0 0 65px}
.tab-wrap01 .main_title{margin:65px 0 10px}
.tab-wrap01 .tab-hd>p,.tab-wrap01 .tab-hd>p.on{width:20%;float: left;}
.tab-wrap01 .tab-body{clear:both;}
.tab-wrap01 .tab-body>div{position: absolute;opacity: 0;visibility: hidden;}
.tab-wrap01 .tab-body>div.on{position: relative;opacity: 1;visibility: visible;}



/* 메인용 기본상품폼 영역 (공통) */
.sort_icon_wrap{overflow: hidden;padding: 0 12px 17px 8px;margin-top: -32px;}
.sort_icon_wrap a{width: 20px;height: 20px;background-size: 100%;margin: 0 4px;float: left;display: block;}
.sort_icon_wrap a:nth-child(1){background-image:url(/design/jstyle07/wib/img/icon/icon_type01_off.png)}
.sort_icon_wrap a:nth-child(2){background-image:url(/design/jstyle07/wib/img/icon/icon_type02_off.png)}
.sort_icon_wrap a:nth-child(3){background-image:url(/design/jstyle07/wib/img/icon/icon_type03_off.png)}
.sort_icon_wrap a:nth-child(1).on{background-image:url(/design/jstyle07/wib/img/icon/icon_type01_on.png)}
.sort_icon_wrap a:nth-child(2).on{background-image:url(/design/jstyle07/wib/img/icon/icon_type02_on.png)}
.sort_icon_wrap a:nth-child(3).on{background-image:url(/design/jstyle07/wib/img/icon/icon_type03_on.png)}
.sort_icon_wrap a img{width:100%}
.sort_icon_wrap a.pro_link{float:right}


/* 할인율 */
.list_shoppingInfo .dc_info,.list_shoppingInfo .dc_perc{color:#46479b;font-weight:bold;display:inline-block;margin-left:5px;font-size:15px;margin: 5px 0 0 5px;vertical-align: middle;font-size:13px;}
.list_shopping3x .dc_info,.list_shopping3x .dc_perc{display:inline-block;float:none;}


/* 공통 더보기버튼 */
#container .more{width:auto;padding:0 12px;margin:15px 0 60px}
#container .more .btn_moreGray{height:45px;line-height:45px;background-color:#fff;border:solid 1px #000;display:block;margin:0 auto;width:100%;font-size:12px;font-weight:400}
#container .more .fa{font-size:15px;color:#000;padding-left:10px}
#container .more .fa.fa-angle-right{padding-bottom:3px;}



/* 도매버튼 */
.btn_ws{width: 95%; padding: 15px 12px;margin: 40px auto 0px;text-align: center;border: 1px solid #46479b;box-sizing: border-box;height: 45px;}    
.btn_ws a{color:#46479b;}


/* 스냅비 영상 영역 */
.snapvi_mo {margin-bottom: 20px;}
.snapvi_mo .swiper-slide a.text_wrap{display: block;
    font-size: 12px;
    width: 100px;
    padding: 10px 15px;
    box-sizing: border-box;
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(0,0,0,0.25);
    text-align: center;
    color: white;}

.snapvi_mo .swiper-button-next, .snapvi_mo  .swiper-button-prev {
position: absolute;
    top: 48%;
    z-index: 4;
    width: 23px;
    height: 38px;
}
.snapvi_mo .swiper-button-prev {
    left: 15px;
    margin-left: 0px;
    background: url(/design/jstyle07/wib/img_pc/icon/icon_subslider_prev.png) no-repeat;
}
.snapvi_mo .swiper-button-next {
    right: 15px;
    margin-right: 0px;
    background: url(/design/jstyle07/wib/img_pc/icon/icon_subslider_next.png) no-repeat;
}

.prod_manufacture {
    margin-top:2px; margin-bottom: 2px; color:#6667c8;
}

.main-event {
    padding: 0 2px;
}

.top-wrapper, .bottom-wrapper {
    display: flex;
    justify-content: center;
    
}
.event-box {
    width: 50%;
    padding: 2px;
}

.event-box img {
    object-fit: cover; 
}

.plus_button img{
    width:100%;
}

/*snap 추가*/
.main_slider {position:relative;}
.main_slider .swiper-pagination {bottom:15px; right:15px; color:#f1f1f1; width:auto; left:auto;}
