<style>
    #review-board-type .rbRelations {
        border-top: 0;
    }

    .rb_items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2%;
        justify-content: space-between;
        align-items: center;
    }

    #review-board-type .rbRelations ul li {
        width: 48%;
    }

    .aspect {
        aspect-ratio: 9/16;
        width: 100%;
        overflow: hidden;
    }

    .aspect iframe {
        width: 100%;
        height: 100%;
    }
</style>

<figure class="aspect">
    <iframe 
    src="https://youtube.com/embed/14Yen6xrOGo" 
    title="YouTube video player"
    frameBorder="0"
    allowFullScreen
    ></iframe>
</figure>
