/* reset css */
* { box-sizing: border-box; }
ul, li { list-style: none; }
a, span { display: block; }
div, section, main { position: relative; }
a { text-decoration: none; cursor: pointer; }

.logoimg img { width: 100%; }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    height: auto !important;
}

.stylelog__wrap,
.product__wrap {
    max-width: 800px;
    width: 100%;
}
.stylelog__wrap { margin: 0; padding: 0; background-color: #F5F5F5; }

/* stylelog contents start */
.stylelog__wrap img { display: block; width: 100%; font-size: 0; }

/* intro img */
.intro_wrap { position: relative; }
.intro_wrap .intro_title { position: absolute; left: 50%; transform: translateX(-50%); z-index: 99; }
.intro_wrap .intro_title:nth-child(2) { top: 56.82%; width: 88%; }
.intro_wrap .intro_title:nth-child(3) { top: 78.36%; width: 56.13%; }

/* section01 */
.stylelog__wrap .sec01 img:nth-child(2) {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 63.13%;
}

/* section03 scale transform */
.stylelog__wrap .sec03 .posiImg {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 100%;
    /* opacity: 0; */
    /* transition-duration: 0.3s; */
}
/* .stylelog__wrap .sec03 .posiImg.scale {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    width: 100%;
} */

/* section04 */
.stylelog__wrap .sec04 .sec04_txt {
    position: absolute;
    left: 6%; bottom: 6.27%;
    z-index: 99;
    width: 10.13%;
}
.stylelog__wrap [class^="sec"] .imgBox > img:nth-child(2) {
    position: absolute;
    left: 0; top: 0; opacity:  0; width: 100%;
    transition-duration: 0.3s;
}

/* 섹션5 */
/*
.stylelog__wrap .sec05 > img {
    animation: filterAni 1s alternate 5s;
}
*/
.stylelog__wrap .sec05 .posiImg {
    width: 58.25%;
    position: absolute;
    top: 46.09%; left: 50%;
    transform: translateX(-50%) !important;
}
@keyframes filterAni {
    0% {
        filter: grayscale(1);
    }
    100% {
        filter: grayscale(0);
    }
}

/* 섹션6 */
.stylelog__wrap .sec06 .landing_wrap {
    z-index: 99;
}
.stylelog__wrap .sec06 .landing_wrap li {
    position: absolute;
    width: 6.25%; height: 4.44%;
}
.stylelog__wrap .sec06 .landing_wrap li:nth-child(1) {
    top: 22.49%; right: 19.63%;
}
.stylelog__wrap .sec06 .landing_wrap li:nth-child(2) {
    top: 23.41%; left: 21.13%;
}
.stylelog__wrap .sec06 .landing_wrap li:nth-child(3) {
    top: 47.20%; left: 19.75%;
}
.stylelog__wrap .sec06 .landing_wrap li:nth-child(4) {
    bottom: 38.40%; right: 16.50%; 
}

/* 섹션8 */
.stylelog__wrap .sec08 .landing_wrap {

    z-index: 99;
}
.stylelog__wrap .sec08 .landing_wrap li {
    position: absolute;
    width: 6.25%; height: 4.60%;
}
.stylelog__wrap .sec08 .landing_wrap li:nth-child(1) {
    top: 25.46%; left: 44.50%;
}
.stylelog__wrap .sec08 .landing_wrap li:nth-child(2) {
    top: 29.98%; right: 21.75%;
}
.stylelog__wrap .sec08 .landing_wrap li:nth-child(3) {
    top: 41.31%; right: 11.63%;
}
.stylelog__wrap .sec08 .landing_wrap li:nth-child(4) {
    top: 43.61%; left: 15.63%; 
}
.stylelog__wrap .sec08 .landing_wrap li:nth-child(5) {
    bottom: 20.06%; right: 33.38%; 
}

/* 섹션10 슬라이드 */
.stylelog__wrap .sec10 .swiper {
    width: 62.50%; height: 57.72%;
    position: absolute;
    top: 26.84%; left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

/* 섹션12 */
.stylelog__wrap .sec12 .posiImg {
    width: 40%; height: 74.03%;
    position: absolute;
}
.stylelog__wrap .sec12 .posiImg:nth-child(2) {
    top: 13.15%; left: 7.50%;
}
.stylelog__wrap .sec12 .posiImg:nth-child(3) {
    top: 13.15%; right: 7.50%;
}

/* 섹션13 슬라이드 */
.stylelog__wrap .sec13 .swiper {
    position: absolute;
    width: 34.75%; height: 99.88%;
    top: 0.13%; left: 59.88%;
    overflow: hidden;
}
.stylelog__wrap .sec13 .landing_wrap li {
    position: absolute;
    width: 6.25%; height: 6.25%;
}
.stylelog__wrap .sec13 .landing_wrap li:nth-child(1) {
    top: 53.50%; left: 17.88%;
}
.stylelog__wrap .sec13 .landing_wrap li:nth-child(2) {
    bottom: 7.25%; left: 5.63%;
}

/* 섹션14 */
.stylelog__wrap .sec14 .landing_wrap {
    z-index: 99;
}
.stylelog__wrap .sec14 .landing_wrap li {
    position: absolute;
    width: 6.25%; height: 5%;
}
.stylelog__wrap .sec14 .landing_wrap li:nth-child(1) {
    top: 16.80%; right: 30.63%;
}
.stylelog__wrap .sec14 .landing_wrap li:nth-child(2) {
    top: 30.10%; left: 23.50%;
}
.stylelog__wrap .sec14 .landing_wrap li:nth-child(3) {
    top: 43.60%; right: 20.75%;
}
.stylelog__wrap .sec14 .landing_wrap li:nth-child(4) {
    bottom: 37.20%; left: 23.50%; 
}
.stylelog__wrap .sec14 .landing_wrap li:nth-child(5) {
    bottom: 27%; right: 47.38%; 
}
.stylelog__wrap .sec14 .landing_wrap li:nth-child(6) {
    bottom: 11.20%; right: 19.75%; 
}

/* 섹션15 롤링배너 */
.stylelog__wrap .sec15 { overflow: hidden; }
.stylelog__wrap .sec15 .original {
    animation: rollingOriginal 23s linear infinite normal forwards running;
}
.stylelog__wrap .sec15 .clone {
    animation: rollingClone 23s linear infinite normal none running;
    position: absolute;
    top: 0; left: 100%;
}
@keyframes rollingOriginal {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    50.01% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes rollingClone {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

/* 섹션16 */
.stylelog__wrap .sec16 .sec16_txt {
    position: absolute;
    bottom: 6.45%; left: 50%;
    transform: translateX(-50%);
    width: 53.75%;
    z-index: 999;
}
.stylelog__wrap .sec16 .swiper-pagination {
    bottom: 3%;
}
.stylelog__wrap .sec16 .swiper-pagination-bullet {
    width: 10px; height: 10px;
}
.stylelog__wrap .sec16 .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 0.7);
}

/* 섹션17 */
.stylelog__wrap .sec17 .posiImg {
    position: absolute;
    width: 38%;
    top: 15.09%; left: 7.25%;
}

/* 섹션18 */
.stylelog__wrap .sec18 .landing_wrap {
    z-index: 99;
}
.stylelog__wrap .sec18 .landing_wrap li {
    position: absolute;
    width: 5.25%; height: 3.89%;
}
.stylelog__wrap .sec18 .landing_wrap li:nth-child(1) {
    bottom: 24.44%; left: 43.25%;
}
.stylelog__wrap .sec18 .landing_wrap li:nth-child(2) {
    bottom: 20.46%; left: 57.25%;
}

/* 섹션19 */
.stylelog__wrap .sec19 .posiImg {
    position: absolute;
    width: 54.50%;
    bottom: 7.91%; left: 50%;
    transform: translateX(-50%) !important;
    z-index: 999;
}

/* 섹션22 */
.stylelog__wrap .sec22 .landing_wrap {
    z-index: 99;
}
.stylelog__wrap .sec22 .landing_wrap li {
    position: absolute;
    width: 6.25%; height: 4.89%;
}
.stylelog__wrap .sec22 .landing_wrap li:nth-child(1) {
    top: 8.22%; right: 25.75%;
}
.stylelog__wrap .sec22 .landing_wrap li:nth-child(2) {
    top: 26.52%; left: 43%;
}
.stylelog__wrap .sec22 .landing_wrap li:nth-child(3) {
    top: 40.51%; left: 16%;
}
.stylelog__wrap .sec22 .landing_wrap li:nth-child(4) {
    bottom: 45.50%; right: 44.50%; 
}
.stylelog__wrap .sec22 .landing_wrap li:nth-child(5) {
    bottom: 39.73%; right: 18.75%; 
}

/* 섹션23 */
.stylelog__wrap .sec23 .posiImg {
    position: absolute;
    top: 12.10%; 
}
.stylelog__wrap .sec23 .posiImg.left {
    width: 45%;
    left: 5.38%;
}
.stylelog__wrap .sec23 .posiImg.right {
    width: 44.25%;
    right: 3.75%;
}

/* 에디터 */
.stylelog__wrap .edit_wrap {
    width: 100%;
    padding-bottom: 12%;
}
.stylelog__wrap .edit_wrap .swiper {
    position: absolute;
    width: 100%; height: 100%;
}
.stylelog__wrap .edit_wrap .swiper-slide img {
    vertical-align: top;
}



/* data-scroll */
[data-scroll="scale"] {
    transform: scale(1);
}
[data-scroll="scale"].scale {
    transform: scale(1.2);
}
[data-scroll="color"] {
    transition: 2.5s;
    filter: grayscale(1);
    transform: all;
}

[data-scroll="color"].color {
    filter: grayscale(0);
}


.scroll_btn a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    position: fixed;
    bottom: 80px;
    text-align: center;
    z-index: 99;
    background: #333;
    border: #333;
    box-sizing: border-box;
    right: 12px;
    display: none;
    transition: all .3s;
}
.scroll_btn a.top_btn {
    bottom: 130px;
}
.scroll_btn a.bot_btn {
    transform: rotate(180deg);
    -webkit-transform: -webkit-rotate(180deg);
}
.scroll_btn a img {
    width: 14px;
    padding-top: 15px;
    /* margin-left: 13px !importante; */
    margin-left: 0 !important;
}



/* scrollbar custom */
html::-webkit-scrollbar {
    width: 12px;
	background-color: #F5F5F5;
}
html::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
